.main-content {
    margin-top: 50px;
}

.article {
    border: 1px solid #b6b6b6;
    padding: 0 3.5% 15px 5%;
    margin: 20px 0;
}

.label-info {
    margin-right: 20px;
    float: left;
    height: 20px;
    line-height: 16px;
}

div.article-caption {
    margin-left: 0;
}

.article-time {
    float: left;
}

.back-link {
    display: block;
    margin: 20px 20px 20px 0;
    font-size: 1.2em;
    border-radius: 0.25em;
}

.back-button {
    font-size: 0.7em;
    position: relative;
    top: 0;
}

figcaption {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.like-button {
    text-align: right;
}
