.page-header {
    margin-top: 60px;
}

@media (max-width: 480px) {
    .page-header {
        display: none;
    }

    .main-content:before {
        content: '';
        margin-top: 75px;
    }
}

.article {
    border: 1px solid #b6b6b6;
    padding: 10px 3.5% 25px 5%;
}

@media (max-width: 1000px) {
    .article {
        padding: 0 3.5% 15px 5%;
    }
}

@media (max-width: 480px) {
    .article {
        padding: 0 3.5% 10px 5%;
    }
}

.no-header {
    margin-top: 95px;
}

@media (max-width: 480px) {
    .no-header {
        margin-top: 50px;
    }
}

.article-time {
    display: block;
}

@media (min-width: 480px) {
    .article-time:before {
        content: ' - '
    }
}

.back-link {
    display: block;
    margin: 20px;
    font-size: 1.2em;
    border-radius: 0.25em;
}

.back-button {
    font-size: 0.7em;
    position: relative;
    top: 0;
}
